# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [3]:
s="Hi there Sam!"

In [4]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
'The diameter of {} is {} kilometer.'.format(planet,diameter)

'The diameter of Earth is 12742 kilometer.'

## 3. In this nest dictionary grab the word "hello"

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [12]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [13]:
array= np.zeros(10)

In [14]:
print(" ",array)

  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [15]:
array = np.ones(10)*5
print("",array)

 [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [16]:
print(np.arange(20,35,2))

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [18]:
np.arange(0,9).reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

a=np.array([1,2,3])

In [21]:
b=np.array([4,5,6])

In [23]:
c=np.concatenate((a,b),axis= None)

In [24]:
print(" ",c)

  [1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [19]:
import pandas as pd

In [25]:
d = {'name':['Diya','Seetha','Reshma'],'score':[80,85,75]}

labels = [1,2,3]

In [27]:
df = pd.DataFrame(d,index=labels)

In [28]:
print(" ",df)

       name  score
1    Diya     80
2  Seetha     85
3  Reshma     75

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [29]:
#The size of each step in days

In [33]:
import datetime

In [34]:
day_delta = datetime.timedelta(days=1)

In [36]:
start_date = datetime.date(2023,1,1)

In [37]:
end_date = datetime.date(2023,2,11)

In [39]:
for i in range((end_date-start_date).days):print(start_date+i*day_delta)

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [40]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [43]:
df = pd.DataFrame(lists,columns =['num','name','value'])

In [44]:
print(" ",df)

     num name  value
0    1  aaa     22
1    2  bbb     25
2    3  ccc     24